---

---

<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <h1>Blog</h1>
  <h2>... and my new blog page</h2>

  <p>Here ill have some thoughts and ideas</p>

  <p>Or nothing at all</p>
</body>
