---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('./posts/*.md')
const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new blog page</h2>

  <p>Here ill have some thoughts and ideas</p>
  <p>Or nothing at all</p>

  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
